img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.brand {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/whistler-bike-park.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.brand .text {
    margin-top: auto;
    margin-bottom: auto;
}

.brand .text a {
    color: #e13c31;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    padding: 5px 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e13c31;
    margin-right: 12px;
    margin-bottom: 10px;
}

.brand .text .brand-name {
    font-family: 'ZCOOL XiaoWei', cursive;
    text-align: center;
    color: #ffffff;
    font-size: 96px;
    font-weight: 600;
}

.brand .text .brand-slogen {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 550;
}

.brand .text .more-link {
    margin-top: 40px;
    text-align: center;
}

.brand .logo {
    padding-top: 30px;
}

section .row {
    max-width: 1140px;
    margin: auto;
}

section.brand .row,
section.sponsors .row {
    max-width: 100%;
}

.section-title {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 15px;
}

.introduction .slogen {
    color: #e13c31;
    font-family: 'ZCOOL XiaoWei', cursive;
    font-size: 24px;
}

.introduction img {
    max-width: 70%;
}

section.statistic {
    background-color: #e13c31;
}

.card {
    padding: 15px;
    margin: 7px;
    height: 100%;
}

.statistic .card {
    background-color: #343434;
    color: #fff;
}

.statistic .statistic-title {
    text-align: center;
    font-size: 24px;
    color: #e13c31;
    padding: 10px;
}

.statistic img {
    border-radius: 10px;
}

section.introduction,
section.video {
    background-color: #343434;
    color: #fff;
}

.video .outer-wrapper {
    max-width: 1140px;
    margin: auto;
}

.video .video-wrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video .validation-video {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contact .email-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

section {
    padding: 30px 10px;
}
#email-form .required {
    color: red;
}

#email-form input,
#email-form button {
    display: block;
    margin: auto;
}

#email-form input[type='checkbox'] {
    display: inline;
    margin: 0;
}

#email-form input[type='email'] {
    width: 200px;
    height: 25px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #343434;
    outline: none;
    width: 100%;
}

#email-form input[type='email']::placeholder {
    font-size: 20px;
}

#email-form button {
    width: 100px;
    height: 50px;
    background-color: #cccccc;
    padding: 0;
    border: 0;
    font-weight: 750;
    font-size: 20px;
    border-radius: 5px;
}

#email-form.valid button {
    background-color: #e13c31;
}

#email-form.invalid button {
    background-color: #cccccc;
}

#email-form.valid input[type='email'] {
    border-bottom: 2px solid #33cc33;
}

#email-form.invalid input[type='email'] {
    border-bottom: 2px solid #ff0000;
}

@media only screen and (min-width: 768px) {

    .brand .logo {
        padding-top: 0;
    }

    .brand .logo img.brand-logo {
        animation: fadein 2s linear;
    }

    .brand .text a:hover {
        transform: scale(1.15);
    }

    section {
        padding: 30px;
    }

    #email-form.valid button:hover {
        transform: scale(1.1);
    }

    #email-form input[type='email'] {
        max-width: 1200px;
    }
}

@keyframes fadein {
    
    from { opacity: 0; }
    to { opacity: 1; }
}