.team-pic,
.profiles {
    background-color: #343434;
}

.profiles .row {
    max-width: 1200px;
    margin: auto;
}

.profiles .profile-card {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin: 0 10px;
}

.profiles img {
    max-width: 200px;
    height: auto;
}

.profiles .name {
    color: #e13c31;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.team-pic img {
    width: 100%;
    height: auto;
}

.profiles .profile-picture {
    width: 300px;
    height: 200px;
    margin: auto;
    background-position: top, center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.lucrezia {
    background-image: url('../images/team/Lucrezia.jpg');
}

.ludovico {
    background-image: url('../images/team/Ludovico.jpg');
}

.cesar {
    background-image: url('../images/team/Cesar.jpg');
}

.gabor {
    background-image: url('../images/team/Gabor.jpg');
}

.marvin {
    background-image: url('../images/team/Marvin.jpg');
}

.federico {
    background-image: url('../images/team/Federico.jpg');
}

.adriano {
    background-image: url('../images/team/Adriano.jpg');
}

@media only screen and (min-width: 768px) {

    .profiles {
        padding: 30px;
    }

    .profiles .row .col-6 {
        padding: 0 10px;
    }

    .profiles .name {
        text-align: left;
    }
}