body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}

.engel {
    font-family: 'ZCOOL XiaoWei', cursive;
}

.topnav {
    position: sticky;
    z-index: 1;
    overflow: hidden;
    background-color: #000;
    position: sticky;
    top: 0;
}

.topnav .links {
    max-height: 0;
}

.topnav.responsive {
    background-color: #e13c31f0;
}

.topnav.responsive .links {
    max-height: 500px;
    transition: max-height 0.3s linear;
}

.topnav hr {
    display: none;
}

.topnav.responsive hr {
    display: block;
}

.topnav.responsive a.active {
    display: none;
}

.topnav a.menu-icon {
    float: left;
    display: block;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.topnav a {
    float: left;
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid transparent;
}

.footer-links a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.footer-links li {
    padding: 10px;
}

.menu-icon {
    width: 48px;
    height: 48px;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTMgMThoMTh2LTJIM3Yyem0wLTVoMTh2LTJIM3Yyem0wLTd2MmgxOFY2SDN6Ii8+PC9zdmc+);
}

.menu-icon.white {
    width: 48px;
    height: 48px;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTMgMThoMTh2LTJIM3Yyem0wLTVoMTh2LTJIM3Yyem0wLTd2MmgxOFY2SDN6IiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==);
}

.anchor {
    display: block;
    visibility: hidden;
    height: 50px;
}

footer {
    background-color: #262626;
    color: #fff;
    border-top: 2px solid #000;
    padding: 30px 10px;
}

footer .row {
    max-width: 1140px;
    margin: auto;
}

footer .row .brand-name {
    font-family: 'ZCOOL XiaoWei', cursive;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
}

.footer-title {
    color: #e13c31;
    font-size: 24px;
    text-align: center;
}

.footer-brand-text {
    text-align: center;
}

.footer-contacts {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 20px 0 0 0;
}

.footer-contacts li {
    padding: 5px;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.copy-right {
    background-color: #000;
    text-align: center;
    color: #fff;
    height: 30px;
    padding-top: 10px;
}

#cookie {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#cookie .card {
    border: 3px solid #000;
    background: #fff;
}

#cookie .card button {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #e13c31;
    padding: 0;
    border: 0;
    font-weight: 650;
    font-size: 20px;
    border-radius: 5px;
}

@media screen and (min-width: 786px) {

    .topnav a {
        display: block;
    }

    .topnav a.active {
        color: #e13c31;
    }
    
    .topnav a.menu-icon {
        display: none;
    }

    .topnav a:hover {
        border-bottom: 2px solid #fff;
    }

    .topnav a.active:hover {
        border-bottom: 2px solid #e13c31;
    }

    .topnav .bookmarks {
        float: right;
    }

    #cookie {
        right: 50%;
    }
}

